.chart-vis {
    
}

.chart-vis .chart-vis-container {
    position: relative;
    border: 1px solid #39F;
    background-color: #fff;
    display:block;
    overflow:auto;
    width: 100%;
    float:left;
}

.chart-vis .chart-vis-container .chart-vis-header{
    background-color: #39F;
    color: #fff;
    height: 20px;
    font-size: 9pt
}

.chart-vis .chart-vis-container .chart-vis-header .chart-vis-text{
    float:left;
    line-height: 20px;
}

.chart-vis .chart-vis-container .chart-vis-header .filterButton{
    background: url(../img/chart_filter.png) no-repeat 0px 0px;
    width: 20px;
    height: 20px;
    padding-right: 15px;
    float:right;

}

.chart-vis .chart-vis-container .chart-vis-header .filterButton:hover{
    cursor: pointer;
}

.chart-vis .chart-vis-container .chart-vis-content{
     height: Calc(100% - 20px);
}
.chart-vis .chart-vis-container .chart-vis-content .chart-vis-chart{
    height: Calc(100% - 10px);
    width: Calc(100% - 15px);
    position: relative;
}

.chart-vis .chart-vis-container div.axisLabels.yaxisLabel{
    color: black;
}
/*
.map-group .map-group-container .map-group-sidebar{

    background-color: red;
    min-height: 80px;
    width: 180px;
    float:left;
}
*/




