.map-group {

}

.map-group .map-group-container {
    border: 1px solid #39F;
    background-color: #fff;
    overflow: hidden;
    position: relative;
}
/*
.map-group .map-group-container.one {
    width: 575px;
}

.map-group .map-group-container.two {
    width: 1002px;
}*/

.map-group .map-group-container .map-group-header{ 
    background-color: #39F;
    color: #fff;
    height: 20px;
    line-height: 20px;
    font-size: 9pt;
}

.map-group .map-group-container .map-group-content{ 
    height: Calc(100% - 20px);
}

.map-group .map-group-container .map-group-content .map-group-maps{
    float:left;
    width: Calc(100% - 150px);
    height: 100%;
    position: relative;
}

.map-group .map-group-container .map-group-content .map-group-sidebar{
    background-color: #eee;
    border: 0px solid #ccc;
    height: Calc(100% - 5px);
    width: Calc(150px - 5px);
    float:left;
    position: relative;
    padding-left: 5px;
    padding-top: 5px;
    overflow: auto;
}

.map-group .map-group-container .map-group-content .map-group-maps .raster-map{
    height:  100%;
    width: 100%;
    border: 0px solid #ccc;
    float: left;
}

.map-group .map-group-container .map-group-content .map-group-maps .raster-map.two{
    /*height:  Calc(50% - 20px);*/
    width: 50%;
    float: left;

}


.map-group .map-group-container .map-group-content .map-group-maps .raster-map .mapbox-header{
    position: relative;
    height:20px;
    line-height:20px;
    width: 100%;
    background-color: #ccc;
    color: #666;
    font-size: 8pt;
}

.map-group .map-group-container .map-group-content .map-group-maps .raster-map .mapbox{
    position: relative;
    height:  Calc(100% - 20px);
    width: 100%;
}
