.map-legend{

}

.color-slider {
	height: 201px;
    width: 20px;
    border: 1px solid #666;
    background: #ccc;
    padding:0;
    margin:0;
    position: relative;
    float:left;
    font-size: 9pt;
}
.color-slider-container {
    height: 210px;
    margin:0;
    padding-top: 7px;
    position: relative;
}

.map-legend .color-slider .color-slider-handle-container {
    color:#666;
    font-size: 9pt;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
    width: 70px;
    height: 16px; 
    position: absolute;
    overflow: visible;
    float:left;
}

.color-slider .color-slider-handle {
    /*
    width: 30px;
    height: 15px;
    margin-left: 4px;
    
    border: 1px solid #000;*/
    
    background: rgba(255, 255, 255, 0.0);
    width: 0; 
    height: 0; 
    border-color: transparent #666 transparent transparent;
    border-style: solid;
    border-width: 8px 12px 8px 0px;
    cursor: pointer;
    float: left;
    position: relative;
}

.color-slider .color-slider-handle-color {
    width: 14px;
    height: 14px;
    border: 1px solid #666;
    float: left;
    margin-left: 2px;
    position: relative;
}
.color-slider .color-slider-handle-value {
    margin-left: 2px;
    float:left;
    position: relative;
}

.color-selector {
    height: 12px;
    width: 12px;
    float: left;
    margin-left: 15px;
    border: 1px solid black;
    margin-top:-7px;
}
.handle-label {
    margin-left: 32px;
    float:left;
    display: block;
    margin-top:-6px;
    line-height: 0;
}

.class-box {
    height: 15px;
    width: 20px;
    border: 1px solid #666;
    cursor:pointer;
    margin-bottom: 5px;
    float: left;
}

.class-box-label {
    padding-left: 5px;
    font-size: 9pt;
    line-height: 10pt;
    margin-bottom: 2px;
}


label.css-label {
    font-size: 9pt;
}