###############
# PreProcTool #
###############
src/PreProcTool/build
src/PreProcTool/dist
src/PreProcTool/Proj4Extent.spec
src/PreProcTool/src/logs

###############
# WebVizTool #
###############
src/WebVizTool/localenv/start-landis-vis-local.spec

###########
# Testings #
###########
example/
src/PreProcTool/test/sample_output*

*.pyc
.vscode



