###############
# PreProcTool #
###############
PreProcTool/WinDevelEnv
PreProcTool/build/build/PreProcTool
PreProcTool/build/build/Proj4Extent
PreProcTool/build/dist/PreProcTool
PreProcTool/build/installer/LandisPreProcToolInstaller-cache
PreProcTool/build/installer/LandisPreProcToolInstaller-SetupFiles
PreProcTool/build/pyinstaller
PreProcTool/build/gdal-data
PreProcTool/build/*.spec
PreProcTool/source/logs
*.pyc

###############
# WebVisTool  #
###############
WebVisTool/source/landisdata
WebVisTool/source/megan_landisdata
WebVisTool/source/megan_config

##############
# SampleData #
##############
SampleData/